.flex {
  display: flex;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.center{
  justify-content: center;
}
.left {
  float: left;
  justify-content: flex-start;
}
.right {
  float: right;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 800px) {
  .hide-on-desktop {
    display: none;
  }
}
