@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

$font-primary: "Rubik", sans-serif;
$color-white: #ffffff;
$color-black: #333333;
$color-grey: #c4c4c4;
$color-green: #8bac3e;
$color-lightyellow: #a4b441;
$color-blue: #40a2b1;
$color-darkBlue: #405eb6;
$color-pink: #b33f74;
